
  <div class="ui fluid inverted vertical menu toc">
    <div class="item">
      <a routerLink="/" class="logo"><i class="ui icon coffee" style="margin-right:.5rem"></i> RegDocs</a>
    </div>
    <a routerLink="/docs/add" routerLinkActive="active" class="item" *ngIf="auth.loggedIn"><i class="plus icon"></i> New Doc</a>
    <div class="item">
      <div class="header">
        <a routerLink="/docs" routerLinkActive="active">Index</a>
      </div>
      <div class="menu">
        <div *ngIf="regdocs && regdocs.length">
        <span *ngFor="let doc of regdocs">
        <a class="item" routerLink="/docs" fragment="{{doc.uri}}">{{$index}} {{doc.title}}</a>
        </span>
        </div>
        <div *ngIf="regdocs && !regdocs.length">
        <div class="item">No documents found.</div>
        </div>
      </div>
    </div>
    
    <a class="item" routerLink="/login" *ngIf="!auth.loggedIn"><i class="icon sign-in"></i> Login</a>
    
    <a class="item" routerLink="" (click)="logout();false" *ngIf="auth.loggedIn">Logout</a>
    
  </div>

