
    <div *ngIf="!auth.loggedIn" class="ui fluid inverted vertical menu toc">
      <div class="item">
        <a routerLink="/" class="logo"><i class="ui icon coffee" style="margin-right:.5rem"></i> RegDocs</a>
      </div>
      <div class="item">
        <div class="header">
          <a routerLink="/docs" routerLinkActive="active">Index</a>
        </div>
        <div class="menu">
          <div *ngIf="regdocs && regdocs.length">
          <span *ngFor="let doc of regdocs">
          <a class="item" routerLink="/docs" (click)="jumpTo(doc.uri)">{{$index}} {{doc.title}}</a>
          </span>
          </div>
          <div *ngIf="regdocs && !regdocs.length">
          <div class="item">No documents found.</div>
          </div>
        </div>
      </div>
      <a class="item" routerLink="/login"><i class="icon sign-in"></i> Login</a>
    </div>

  
    <div *ngIf="auth.loggedIn" class="ui fluid inverted vertical menu toc">
      <div class="item">
        <a routerLink="/admin" class="logo" style="color:#d34 !important">
          <i class="ui icon secret user" style="margin-right:.5rem"></i> RegDocs
          <sup style="display:block;font-size:11px;text-align:center;margin-top:14px;letter-spacing:4px">administration</sup>
        </a>
      </div>
      <a routerLink="/admin/docs/add" routerLinkActive="active" class="item"><i class="plus icon"></i> New Doc</a>
      <div class="item">
        <div class="header">
          <a routerLink="/admin/docs" routerLinkActive="active" style="color:inherit !important">Documents</a>
        </div>
        <div class="menu">
          <div *ngIf="regdocs && regdocs.length">
          <span *ngFor="let doc of regdocs">
          <a class="item" routerLink="/admin/docs" (click)="jumpTo(doc.uri)">{{$index}} {{doc.title}}</a>
          </span>
          </div>
          <div *ngIf="regdocs && !regdocs.length">
          <div class="item">No documents found.</div>
          </div>
        </div>
      </div>    
      <a class="item" routerLink="" (click)="logout();false" *ngIf="auth.loggedIn">Logout</a>
    </div>

